.contact-box{
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0 0 5px #ccc;
    padding: 30px 30px;
}
.email{
    background-color: gray;
    color: white;
    padding: 5px 5px;
    width: 50%;
    text-align: center;
    border-radius: 5px;
}
.email:hover {
    cursor: pointer;
    font-weight: bold;
}