.box{
    box-sizing: border-box;
    width: 100%;
    height: auto;
    box-shadow: 0 0 5px #ccc;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 30px 30px;
}
.box .imagediv{
    width: 40%;
    min-width: 20em;
    height: auto;
}
.imagediv .image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.box .details{
    width: 50%;
    min-width: 20em;
    padding: 5% 5%;
}
.title{
    background-color: #B9C0CB;
    width: 100%;
    height: 100px;
    padding: 0 10px;
    color: white;
    display:flex;
    align-items: center;
}
.details .text {
    width: 80%;
    min-height: 100px;
    height: auto;
    float: right;
    padding: 10px 0;
}
.details .icon {
    width: 10%;
    height: 10%;
    object-fit: contain;
}
.box .info{
    width: 100%;
    padding: 1% 0;
}
.info .info-box{
    box-sizing: border-box;
    box-shadow: 0 0 5px #ccc;
    padding: 30px 30px;
}
.bold{
    font-weight: bold;
}